flows.json
[
    {
        "id": "d9251bda84d9170c",
        "type": "ui_gauge",
        "z": "10a17c9334add170",
        "name": "",
        "group": "6a28fa399c6b42d9",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{payload.Umidade}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "24de9b1120deedc2",
        "type": "ui_gauge",
        "z": "10a17c9334add170",
        "name": "",
        "group": "6a28fa399c6b42d9",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Altitude",
        "label": "metros",
        "format": "{{payload.Altitude}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#964b00",
            "#32e600",
            "#00b3ff"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "c5c341cfa8551ee2",
        "type": "ui_text",
        "z": "10a17c9334add170",
        "group": "6a28fa399c6b42d9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado do botão ----->",
        "format": "{{payload.Botao}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "b94be13fbd98f2ef",
        "type": "function",
        "z": "10a17c9334add170",
        "name": "function 1",
        "func": "var data = msg.payload;\n\nvar dados = data.split(',');\n\nif (dados.length >= 5) {\n    var temperatura = parseFloat(dados[0]);\n    var umidade = parseFloat(dados[1]);\n    var pressao = parseFloat(dados[2]);\n    var altitude = parseFloat(dados[3]);\n    var botao = parseInt(dados[4]);\n\n    node.warn(\"Temperatura: \" + temperatura);\n    node.warn(\"Umidade: \" + umidade);\n    node.warn(\"Pressão: \" + pressao);\n    node.warn(\"Altitude: \" + altitude);\n    node.warn(\"Botão: \" + botao);\n\n    msg.payload = {\n        Temperatura: temperatura,\n        Umidade: umidade,\n        Pressao: pressao,\n        Altitude: altitude,\n        Botao: botao\n    };\n    return msg;\n} else {\n    node.error(\"A string de entrada não contém dados suficientes.\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "4bc64892e502b182",
                "41eadbafe8508f57",
                "d9251bda84d9170c",
                "24de9b1120deedc2",
                "c5c341cfa8551ee2",
                "1c5ae1a132f97441"
            ]
        ]
    },
    {
        "id": "4bc64892e502b182",
        "type": "debug",
        "z": "10a17c9334add170",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "919a059127192277",
        "type": "debug",
        "z": "10a17c9334add170",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "dab427c88dc9cf36",
        "type": "websocket in",
        "z": "10a17c9334add170",
        "name": "",
        "server": "2fc21f6d94e172e2",
        "client": "",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "b94be13fbd98f2ef"
            ]
        ]
    },
    {
        "id": "fcbf400cf6fbbef4",
        "type": "websocket out",
        "z": "10a17c9334add170",
        "name": "",
        "server": "2fc21f6d94e172e2",
        "client": "",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "41eadbafe8508f57",
        "type": "ui_gauge",
        "z": "10a17c9334add170",
        "name": "",
        "group": "6a28fa399c6b42d9",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{payload.Temperatura}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "09074d137d540cb9",
        "type": "ui_switch",
        "z": "10a17c9334add170",
        "name": "",
        "label": "LED ESP",
        "tooltip": "",
        "group": "6a28fa399c6b42d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 440,
        "wires": [
            [
                "04c278e9b64cfe9d"
            ]
        ]
    },
    {
        "id": "04c278e9b64cfe9d",
        "type": "function",
        "z": "10a17c9334add170",
        "name": "function 2",
        "func": "var stringRecebida = msg.payload;\n\n    if(stringRecebida==true){\n        msg.payload = JSON.stringify({status: 1});\n    }\n\n    else if (stringRecebida==false){\n        msg.payload = JSON.stringify({status: 0});\n    }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 440,
        "wires": [
            [
                "fcbf400cf6fbbef4",
                "919a059127192277"
            ]
        ]
    },
    {
        "id": "1c5ae1a132f97441",
        "type": "ui_gauge",
        "z": "10a17c9334add170",
        "name": "",
        "group": "6a28fa399c6b42d9",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressao",
        "label": "pmar",
        "format": "{{payload.Pressao}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00e1ff",
            "#0091ff",
            "#001a9e"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "6a28fa399c6b42d9",
        "type": "ui_group",
        "name": "Trab_RIC_2",
        "tab": "75297de62ea4c9d3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2fc21f6d94e172e2",
        "type": "websocket-listener",
        "path": "/test/esp32",
        "wholemsg": "false"
    },
    {
        "id": "75297de62ea4c9d3",
        "type": "ui_tab",
        "name": "RIC_2 - LimaMeiRJ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]